.nav-link:active,  .nav-link:focus, .nav-link:hover {
    color: blue!important;
}

.nav-link {
    color: white!important;
}

.card-img-top {
    width: 50%;
    
    
}


.text-wrap {
    float: left;
    margin: 10px;
}

.main-container {
    width: 70vw;
    margin: 0 auto;
    margin-top: 25px;
}

.card-header {
    color: blue;
    background-color: #343a40;
    border-bottom: 1px solid blue;
    /* shortcut for border */
}

.bg {
    background-image: url("https://i.ytimg.com/vi/-MKapbz0GIo/maxresdefault.jpg");
}

.card-body {
    background-color: #343a40;
}

.list-group-item {
    background-color: #343a40;
}

.card-text {
    color: blue;
}

.img-size {
    max-width: 100%;
    max-height: 100%;
}

.link-style:link {
    color: white;
}

.link-style:visited {
    color: purple;
  }

.link-style:hover {
    color: blue;
}

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    border: 1px solid white;
}

  
