.nav-link:active,  .nav-link:focus, .nav-link:hover {
    color: blue!important;
}

.nav-link {
    color: black!important;
}

.card-img-top {
    width: 50%;
    
}

.list-group-item {
    width: 50%;
}