.nav-link:active,  .nav-link:focus, .nav-link:hover {
    color: blue!important;
}

.nav-link {
    color: black!important;
}

.card-img-top {
    width: 50%;
    
    
}


.text-wrap {
    float: left;
    margin: 10px;
}

.main-container {
    width: 70vw;
    margin: 0 auto;
    margin-top: 25px;
}

.card-header {
    color: blue;
    border-bottom: 1px solid blue;
    /* shortcut for border */
}

.bg {
    background-image: url("https://i.ytimg.com/vi/-MKapbz0GIo/maxresdefault.jpg");
}

